@using MudBlazor.Utilities
@inherits EchoComponentBase

<div class="@CssClass" style="@Style" @attributes="AdditionalAttributes">
    @ChildContent
</div>

@code
{
    private string CssClass => new CssBuilder("tw|container tw|mx-auto")
        .AddClass(Class)
        .AddClass("tw|max-w-screen-sm", MaxWidth is EchoMaxWidth.Small)
        .AddClass("tw|max-w-screen-md", MaxWidth is EchoMaxWidth.Medium)
        .AddClass("tw|max-w-screen-lg", MaxWidth is EchoMaxWidth.Large)
        .AddClass("tw|max-w-screen-xl", MaxWidth is EchoMaxWidth.ExtraLarge)
        .AddClass("tw|max-w-screen-2xl", MaxWidth is EchoMaxWidth.ExtraExtraLarge)
        .ToString();

    [Parameter] [EditorRequired] public required RenderFragment ChildContent { get; set; }
    [Parameter] public EchoMaxWidth MaxWidth { get; set; } = EchoMaxWidth.ExtraLarge;
}