@page "/Account/AccessDenied"

<EchoPage Title="Acesso negado" MaxWidth="EchoMaxWidth.Small" HiddenBars >
    <Content>
        <section class="tw|flex tw|flex-col tw|gap-4">
            <MudStack Spacing="0">
                <MudText Color="Color.Primary" Typo="Typo.h4" Class="tw|font-thin">
                    :/ Access denied
                </MudText>
                <MudText Color="Color.Primary" Typo="Typo.h5" Class="tw|font-bold">
                    We are watching you
                </MudText>
            </MudStack>

            <MudStack>
                <StatusMessage Item="@(new AlertItem(Severity.Error, "Você não tem acesso a esse recurso!"))"/>
            </MudStack>
            
            
        </section>
    </Content>
</EchoPage>