@page "/Account/ForgotPasswordConfirmation"
@layout AnonymousLayout

<EchoPage Title="Forgot password" MaxWidth="EchoMaxWidth.Small" HiddenBars >
    <Content>
        <section class="tw|flex tw|flex-col tw|gap-4">
            <MudStack Spacing="0">
                <MudText Color="Color.Primary" Typo="Typo.h4" Class="tw|font-thin">Let's go!</MudText>
                <MudText Color="Color.Primary" Typo="Typo.h5" Class="tw|font-bold">I need to confirm my account</MudText>
            </MudStack>

            <MudStack>
                <StatusMessage Item="@(new AlertItem(Severity.Success, "Por favor, verifique seu email para confirmar sua conta."))"/>
            </MudStack>
            
            
        </section>
    </Content>
</EchoPage>