@page "/Account/InvalidPasswordReset"
@layout AnonymousLayout

<EchoPage Title="Invalid password reset" MaxWidth="EchoMaxWidth.Small" HiddenBars >
    <Content>
        <section class="tw|flex tw|flex-col tw|gap-4">
            <MudStack Spacing="0">
                <MudText Color="Color.Primary" Typo="Typo.h4" Class="tw|font-thin">
                    :/ Hmm...
                </MudText>
                <MudText Color="Color.Primary" Typo="Typo.h5" Class="tw|font-bold">
                    Your link is wrong or expired.
                </MudText>
            </MudStack>

            <MudStack>
                <StatusMessage Item="@(new AlertItem(Severity.Error, "Parece que seu link de confirmação é inválido."))"/>
            </MudStack>
        </section>
    </Content>
</EchoPage>