@page "/Account/Lockout"
@layout AnonymousLayout

<EchoPage Title="Locked out" MaxWidth="EchoMaxWidth.Small" HiddenBars >
    <Content>
        <section class="tw|flex tw|flex-col tw|gap-4">
            <MudStack Spacing="0">
                <MudText Color="Color.Primary" Typo="Typo.h4" Class="tw|font-thin">
                    :/ Locked out
                </MudText>
                <MudText Color="Color.Primary" Typo="Typo.h5" Class="tw|font-bold">
                    ...a moment, please.
                </MudText>
            </MudStack>

            <MudStack>
                <StatusMessage Item="@(new AlertItem(Severity.Error, "Sua conta está bloqueada, por favor tente novamente mais tarde."))"/>
            </MudStack>
            
            
        </section>
    </Content>
</EchoPage>